


    

body {
    display: grid;
    font-family: 'Alata', sans-serif;
    background-color: black;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 
}

.navbar {
    font-size: 18px;
    background-image: url(../img/banda.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    min-height: 200px;
    
}

.logo{
    width: 120px;
    font-size: 22px;
    padding: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
    background-color: rgba(0, 0, 0, 0.548);
    padding: 10px;
    border-radius: 100px;

}

.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;


}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}
.loginButton{
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 100px;
    margin: 10px;
    width: 100px;
    
}

.loginButton:hover{
    background-color: black;
    color: salmon;
}




.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;

        
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
        
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
        
    }

    .logo {
        margin-top: 0;


    }

    .navbar-toggle {
        display: none;
        
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}


.historia{
    
    
    background-color: black;
    background-image: url(../img/fractal.jpg);
    background-size: cover;
 
    border-radius: 10px;
    color: white;
    padding: 50px;
    

}

.historia, h1{
    font-size: 66px;
}
.historia, p{
    font-size: 22px;
}

.heroText{
    padding: 20px;    
}

.heroImage{
    padding: 20px;    

    
}
.heroImage, img{
    width: 100%;
 
}


.eventos{
    background-color: rgb(22, 22, 22);
    background-image: url(../img/concert.jpg);
    background-position: center;

    margin:0;
    padding: 50px;
    color: white;
}




.cards {
    display: inline-block;      
    grid-auto-rows: auto;
    grid-gap: 1rem;
    background-color: rgb(207, 189, 172);
    max-width: 300px;
    margin: 10px;
    padding: 13px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.548);
}

.cards img{
    width: 100%;
}


button {
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 4px;
    height: 50px;
    padding: 10px;
    font-size: 17px;

}

button {
    width: 100%;
    background-color: rgb(75, 71, 71);
    border: none;
    border-radius: 4px;
    height: 50px;
    padding: 10px;
    font-size: 17px;
    color: white;

}

button:hover{
    background-color: black;
    color: salmon;
}


.galeria{
    background-color: black;
    background-position: center;

    margin:0;
    padding: 50px;
    color: white;
}












footer{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 0;
    align-items: center;
    background: linear-gradient(20deg, rgba(131,58,180,1) 10%,  rgb(192, 15, 154) 100%);

    margin-bottom: 0;
    height:200px;
    font-size: 12px;
    color: white;

}



.grid-gallery {
    display: grid;
    grid-auto-rows: 200px;
    grid-gap: 1rem;
    grid-auto-flow: row dense;
  }
  
  @media all and (min-width: 320px) {
    .grid-gallery {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media all and (min-width: 768px) {
    .grid-gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media all and (min-width: 1024px) {
    .grid-gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  